@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
  .dark {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  scroll-behavior: smooth;
}
